@font-face {
  font-family: "BaiJamjuree";
  src: url("assets/fonts/BaiJamjuree-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BaiJamjuree";
  src: url("assets/fonts/BaiJamjuree-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KondolarThai";
  src: url("assets/fonts/KondolarThai-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
